# Readline configuration for bash shell.

# Incremental history searching with up and down arrows (C-P and C-N for old
# style navigation).
"\e[A": history-search-backward
"\e[B": history-search-forward

# Control left and right for word movement
"\e[5C": forward-word
"\e[5D": backward-word
# On RHEL6 we get these bindings instead:
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Remap usual key bindings for Solaris
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[3~": delete-char
