xterm*background: black
xterm*foreground: green

! Make Solaris work like Linux
XTerm.vt100.locale: true
XTerm.ttyModes: erase ^?
XTerm.vt100.backarrowKey: true
XTerm.vt100.translations: #override \
    <Key>Delete: string("\033[3~") \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore()  \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Shift <Key>Up: scroll-back(1,line) \n\
    Shift <Key>Down: scroll-forw(1,line) 
XTerm.vt100.saveLines: 4096

